<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-2 col-lg-1 me-0 text-center" href="#">FOGUS NetApp</a>
  <a class="navbar-brand col-md-2 col-lg-1 me-0 text-center ms-auto" href="/sign-up">Sign up</a>
  <a class="navbar-brand col-md-2 col-lg-1 me-0 text-center" href="/sign-in">Sign in</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer">
    <p>© 2022 Copyright: <a href="https://fogus.gr/" target="_blank" style="color:rgb(9, 186, 240)">FOGUS INNOVATIONS & SERVICES</a></p>
  </div>
</footer>