<h2>Monitoring Info</h2>
  <ul>
    <!-- <li *ngFor="let task of tasks$ | async">
      <ul>
        <li>id: {{ task.id }}</li>
        <li>externalId: {{ task.externalId }}</li>
        <li>cellId: {{ task.locationInfo.cellId }}</li>
        <li>monitoringType: {{ task.monitoringType }}</li>
        <li>subscription: {{ task.subscription }}</li>
        <li>ipv4Addr: {{ task.ipv4Addr }}</li>
      </ul>
    </li> -->
    <li>id</li>
    <li>externalId</li>
    <li>cellId</li>
    <li>monitoringType</li>
  </ul>
