.callback-container {
    justify-content: center;
    text-align:center;
}

.callback-row{
    margin: 0 auto;
    width:fit-content;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.form-control{
    border-radius: 8px;
    width:200px;
    text-align: center;
}

.selectionUE, .selectionMonitoringType, select{
    border-radius: 8px;
    display: flex;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.one_time_message,.error_message{
    margin-top: 25px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
